{
"tree_config": {
  "num_iterations": 50,
  "num_leaves": 10,
  "shrinkage": 0.1,
  "split_config": {
    "min_leaf_weight_sum": 5
  }
},

"sampling_config": {
  "example_sampling_rate": 0.5,
  "feature_sampling_rate": 0.8
},

"data_config": {
  "feature": [
    "age",
    "albumin",
    "alt_phosphate",
    "anorexia",
    "antivirals",
    "ascites",
    "bilirubin",
    "fatigue",
    "histology",
    "liver_big",
    "liver_firm",
    "malaise",
    "protime",
    "seroid",
    "sex",
    "sgot",
    "spiders",
    "spleen_palpable",
    "varices"
    ]
},

"loss_func_config": {
  "loss_func": "logloss",
  "binary_target": {
     "target_column": "live_or_die",
     "threshold": 1.5
  }
},

"eval_config": {
  "eval_interval": 10
}
}