{
"tree_config": {
  "num_iterations": 50,
  "num_leaves": 10,
  "shrinkage": 0.1
},

"sampling_config": {
  "example_sampling_rate": 0.5,
  "feature_sampling_rate": 0.8
},

"data_config": {
  "float_feature": [
    "age",
    "albumin",
    "alt_phosphate",
    "anorexia",
    "antivirals",
    "ascites",
    "bilirubin",
    "fatigue",
    "histology",
    "liver_big",
    "liver_firm",
    "malaise",
    "protime",
    "seroid",
    "sex",
    "sgot",
    "spiders",
    "spleen_palpable",
    "varices"
    ],
    "additional_float_column": [
     "live_or_die_binary",
    ]
},

"loss_func_config": {
  "loss_func": "huberized_hinge",
  "target_column": "live_or_die_binary"
},

"eval_config": {
  "eval_interval": 10
}
}