{
"tree_config": {
  "num_iterations": 50,
  "num_leaves": 5,
  "shrinkage": 0.1,
  "split_config": {
    "min_leaf_weight_sum": 5
  }
},

"sampling_config": {
  "example_sampling_rate": 0.5,
  "feature_sampling_rate": 0.8
},

"data_config": {
  "float_feature": [
    "Alcohol",
    "Malic_acid",
    "Ash",
    "Alcalinity_of_ash",
    "Magnesium",
    "Total_phenols",
    "Flavanoids",
    "Nonflavanoid_phenols",
    "Proanthocyanins",
    "Color_intensity",
    "Hue",
    "OD280_OD315_of_diluted_wines",
    "Proline"
    ],
  "additional_float_column": [
     "label"
  ]
},

"loss_func_config": {
  "loss_func": "mse",
  "target_column": "label"
},

"eval_config": {
  "eval_interval": 10
}

}