{
  "num_trees": 20,
  "num_leaves": 16,
  "shrinkage": 0.1,
  "l2_lambda": 10,
  "example_sampling_rate": 0.5,
  "feature_sampling_rate": 0.8,
  "float_feature": [
      "DepTime",
      "Distance"
  ],
  "categorical_feature": [
      "Month",
      "DayofMonth",
      "DayOfWeek",
      "UniqueCarrier",
      "Origin",
      "Dest"
  ],
  "target_column": "dep_delayed_15min_float",
  "loss_func": "auc",
  "pair_sampling_rate": 30,
  "eval_interval": 20
}