{
"tree_config": {
  "num_iterations": 200,
  "num_leaves": 16,
  "shrinkage": 0.1,
  "split_config": {
     "l2_lambda": 10
  }
},

"sampling_config": {
  "example_sampling_rate": 0.5,
  "feature_sampling_rate": 0.8
},

"data_config": {
  "float_feature": [
      "DepTime",
      "Distance"
  ],
  "categorical_feature": [
      "Month",
      "DayofMonth",
      "DayOfWeek",
      "UniqueCarrier",
      "Origin",
      "Dest"
  ],
  "additional_float_column": [
      "dep_delayed_15min_float"
  ]
},

"loss_func_config": {
  "loss_func": "huberized_hinge",
  "target_column": "dep_delayed_15min_float"
},

"eval_config": {
  "eval_interval": 20
}

}